.create-posts {
    width: 40%;
}
.post-card {
    display: flex;
    border: .5px solid grey;
    margin: 10px;
}
.votes-cont {
    display: flex;
    flex-direction: column;
    border-right: .5px solid grey !important;
    justify-content: center;
    width: 10%;
    
}


.info-div h3 {
    text-decoration: none !important;
}
.delete-div {
    display: flex;
    flex-direction: row;
}
.delete-button {
}

.title {
}

.please {
    text-decoration: none;
}

.down-arrow {
    transform: rotate(180deg);
}

.edit-div {
    width: 20%;
    text-decoration: none;
    color: black;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button {
    width: 30%;
}

.info-div {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 40%;
}
.button-text {
    text-decoration: none;
}
.pencil {
    padding-left: 20px;
}