.create-posts {
    width: 60%;
}
.post-card {
    display: flex;
    border: .5px solid grey;
    margin: 10px;
}

.post-card:hover {
    transform: scale(1.03);
    transition: .5s;
    
}
.votes-cont {
    display: flex;
    flex-direction: column;
    border-right: .5px solid grey !important;
    justify-content: center;
    width: 20%;
    
}
.up-arrow {
    cursor: pointer;
}

.up-arrow:hover {
    color: red;
    transform: scale(1.5);
    transition: .5s;
}

.down-arrow:hover {
    color: red;
}

.info-div h3 {
    text-decoration: none !important;
}
.delete-div {
    display: flex;
    flex-direction: row;
}
.delete-button {
    padding: 10px;
    width: 20px;
}

.user-date {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.title {
    color: black;
}

.please {
    text-decoration: none;
}

.down-arrow {
    transform: rotate(180deg);
    cursor: pointer;
}

.edit-div {
    width: 20%;
    text-decoration: none;
    color: black;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button {
    margin-top: 5px;
    width: 23%;
}

.info-div {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 40%;
}
.button-text {
    text-decoration: none;
}
.pencil {
    margin-top: 10px;
    padding-left: 20px;
    height: 30px;
}